h2 id="choose_category_header"
	| Choose a category
div class="row well"
	- @categories.each do |category|
		div class="col-md-4 category_container"
				b
					a href='#' class='category_link' id='#{category}'
						= category
div id="category_items"

javascript:
	$(function(){
		$('.category_link').click(function(){
			category = this.id
			$.ajax({
				url: '/items/by_category',
				type: 'POST',
				data: {category: category},
				success: function(){
					initialize_datatables();
					$('#choose_category_header').html('Choose a category (' + category +')');
				},
				fail: function(){
					swal('Error', 'Something went wrong', 'error');
				}
			});
		});
	});